.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.noticeBox {
    width: 80%; /* 수정된 부분 */
    max-width: 80%; /* 최대 너비 설정 */
    padding: 20px;
    border-radius: 30px;
    background-color: #dcdcdcd6;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}